body {
    margin: 0px;
    background-color: #d1d1d1;
}

header {
    background-image: url('../img/snowy.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
    position: relative;
}

header:after {
    content: "";
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

header a {
    background-color: #3b5998;
    border-bottom: 2px solid #29487d;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 110px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -18px;
    margin-left: -55px;
    transition: .3s all;
    z-index: 1;
}

header a:hover {
    transform: scale(1.2);
    opacity: .9;
}