body {
    margin: 0;
    background: #d1d1d1;
}

.menu-main {
    background: #3b5998;
    height: 45px;
    border-bottom: 1px solid #29487d;
    display: flex;
    justify-content: space-between;
}

.menu-main a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-main a:hover {
    background: rgba(0, 0, 0, .1);
}

.menu-main a.active {
    background: #29487d;
}

@media(max-width: 768px) {
    .menu-main {
        height: auto;
        border-bottom: 0px;
        display: block;
    }
    .menu-main a {
        height: 45px;
        border-bottom: 1px solid #29487d;
    }
}